:root {
    --primary-color: #FFD700;
    --secondary-color: #fafafa;
    --colc: #000;
    --cold: #000;
}

body {
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(0,0,0) 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    color: var(--secondary-color);
    font-weight: 600;
    font-family: Menlo, Roboto Mono, monospace;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    align-items: center;
    font-weight: 600;
    font-family: Menlo, Roboto Mono, monospace;
}

input[type="text"]:focus,
input[type="submit"]:focus,
button:focus {
    border: 1px solid var(--secondary-color);
}

input[type="submit"],
button {
    cursor: pointer;
}

.shortened-url {
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
}

.shortened-url p {
    margin-bottom: 10px;
    text-align: center;
}
.xc{
    border: 1px dashed  var(--secondary-color);
    padding: 0 50% 0 50%;
}

.shortened-url a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 10px;
}

.shortened-url button {
    align-items: center;
    background-color: var(--secondary-color);
    color: #000;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.btn:hover {
    color:  var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    transition: 0.7s;
}

.btn {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    align-items: center;
    font-weight: 800;
    font-family: Menlo, Roboto Mono, monospace;
}

input[type="submit"]:hover{
    color:  var(--primary-color);
    background-color: transparent;
    transition: 0.7s;
}


#nm{
    text-align: center;
}
